<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.data.settings.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.data.settings.header-title }}</li>
          <li><a href="https://twitter.com/{{ site.data.settings.twitter-handle }}?lang=en-gb">@{{ site.data.settings.twitter-handle }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.data.settings.description }}</p>
      </div>
    </div>

  </div>

</footer>
